/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
/* body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
} */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* Typography */
h1,
h2,
h3 {
  color: #2e2f42;
  font-weight: 700;
}

h1,
h2 {
  text-align: center;
}

a,
p {
  letter-spacing: 0.32px;
}

.main-heading {
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}
.second-heading {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.third-heading {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.logo-typography {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.container {
  max-width: 1440px;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-g24 {
  display: flex;
  gap: 24px;
}

/* 3 column layout  */
.col-3 {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.col-4 {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* padding section top bottom 120px */
.second-section,
.team,
.portfolio {
  padding: 120px 0;
}

/* Header section */

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
}
.header-logo span {
  color: #2e2f42;
}

.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  position: relative;
  display: block;
  padding: 24px 0;
  color: #404bbf;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-menu-link:active::after {
  width: 100%;
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero section */
.hero {
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/img-name.jpg");
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
}
.hero-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
  color: #fff;
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  letter-spacing: 0.64px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.second-section-list {
  display: flex;
  gap: 24px;
}
.second-section-list-item {
  width: calc((100% - 3 * 24px) / 4);
}
.svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
}
.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  width: calc((100% - 3 * 24px) / 4);
  text-align: center;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-box {
  padding: 32px 0;
}
.box-social-icon {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-icon-item {
  width: 40px;
  height: 40px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}
.use-icon,
.icon-svg {
  fill: #f4f4fd;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  background-color: #fff;
}
.portfolio-list-item {
  width: calc((100% - 2 * 24px) / 3);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
  opacity: 1;
  transform: translatey(0);
}

.container-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #f4f4fd;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}

.portfolio-list-item-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-col {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.social-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: #fff;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}

.social-icon-link {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.hover-green:hover,
.hover-green:focus {
  background-color: #31d0aa;
}
